
{{> header }}
{{> navigation }}
<!-- SECTION -->
<div class="section">
	<!-- container -->
	<div class="container">
		<!-- row -->
		<div class="row">
			<!-- Product main img -->
			<div class="col-md-5 col-md-push-2">
				<div id="product-main-img">
					{{#each product.images}}
					<div class="product-preview">
						<img src="{{image_link}}" alt="">
					</div>
					{{/each}}
				</div>
			</div>
			<!-- /Product main img -->
			
			<!-- Product thumb imgs -->
			<div class="col-md-2  col-md-pull-5">
				<div id="product-imgs">
					{{#each product.images}}
					<div class="product-preview">
						<img src="{{image_link}}" alt="">
					</div>
					{{/each}}
				</div>
			</div>
			<!-- /Product thumb imgs -->

			<!-- Product details -->
			
			<div class="col-md-5">
				<div class="product-details">
					<h2 class="product-name">{{product.product_name}}</h2>
					<div>
						<div class="product-rating">
							{{{createRating product.average_rating}}}
						</div>
						<span class="review-link" href="#">{{product.reviews.length}} Lượt đánh giá</span>
					</div>

					<div>
						<div class="product-views">
							<i class="fa fa-eye"></i>
							<span class="review-link">
								{{product.number_of_views}} Lượt xem
							</span>
						</div>
						
					</div>
					<div>
						<h3 class="product-price">{{product.price}} VND</h3>
						<span class="product-available">{{#if product.quantity}} Sẵn có {{else}} Hết hàng {{/if}}</span>
					</div>
					<div class="buy-now">
						<div class="qty-label">
							Số lượng
							<div class="input-number">
								<input type="number">
								<span class="qty-up">+</span>
								<span class="qty-down">-</span>
							</div>
						</div>
						<div>
							<button class="add-to-cart" onclick="addToCart({{product.product_id}})"><i class="fa fa-shopping-cart"></i>Thêm vào giỏ hàng</button>
							<button class="buy-now-btn"></i>Mua ngay</button>
						</div>
					</div>

					<ul class="product-links">
						<li>Loại:</li>
						
						<li><a href="#">{{product.categories.parent_category_name}}</a></li>
						<li><a href="#">{{product.categories.category_name}}</a></li>
						
					</ul>

					<ul class="product-links">
						<li>Chia sẻ:</li>
						<li><a href="#"><i class="fab fa-facebook"></i></a></li>
						<li><a href="#"><i class="fab fa-twitter"></i></a></li>
						<li><a href="#"><i class="fab fa-google-plus"></i></a></li>
						<li><a href="#"><i class="fas fa-envelope"></i></a></li>
					</ul>

				</div>
			</div>
			<!-- /Product details -->

			<!-- Product tab -->
			<div class="col-md-12">
				<div id="product-tab">
					<!-- product tab nav -->
					<ul class="tab-nav">
						<li class="active"><a data-toggle="tab" href="#tab1">Mô tả</a></li>
						<li><a data-toggle="tab" href="#tab2">Đánh giá ({{product.reviews.length}})</a></li>
						<li><a data-toggle="tab" href="#tab3" id="comment-length">Bình luận ({{product.comments.length}})</a></li>
						
					</ul>
					<!-- /product tab nav -->

					<!-- product tab content -->
					<div class="tab-content">
						<!-- tab1  -->
						<div id="tab1" class="tab-pane fade in active">
							<div class="row">
								<div class="col-md-2"></div>
								<div class="col-md-8">
									<p class="descriptions">{{product.descriptions}}</p>
								</div>
								<div class="col-md-2"></div>
							</div>
						</div>
						<!-- /tab1  -->

						

						<!-- tab2  -->
						<div id="tab2" class="tab-pane fade in">
							<div class="row">
								<!-- Rating -->
								<div class="col-md-3">
									<div id="rating">
										<div class="rating-avg">
											<span>{{product.average_rating}}</span>
											<div class="rating-stars">
												{{{createRating product.average_rating}}}
											</div>
										</div>
										<ul class="rating">
											<li>
												<div class="rating-stars">
													{{{createRating 5}}}
												</div>
												<div class="rating-progress">
													<div style="width:{{getPercentRating product.reviews 5}}%"></div>
												</div>
												<span class="sum">{{getNumberRating product.reviews 5}}</span>
											</li>
											<li>
												<div class="rating-stars">
													{{{createRating 4}}}
												</div>
												<div class="rating-progress">
													<div style="width:{{getPercentRating product.reviews 4}}%"></div>
												</div>
												<span class="sum">{{getNumberRating product.reviews 4}}</span>
											</li>
											<li>
												<div class="rating-stars">
													{{{createRating 3}}}
												</div>
												<div class="rating-progress">
													<div style="width:{{getPercentRating product.reviews 3}}%"></div>
												</div>
												<span class="sum">{{getNumberRating product.reviews 3}}</span>
											</li>
											<li>
												<div class="rating-stars">
													{{{createRating 2}}}
												</div>
												<div class="rating-progress">
													<div style="width:{{getPercentRating product.reviews 2}}%"></div>
												</div>
												<span class="sum">{{getNumberRating product.reviews 2}}</span>
											</li>
											<li>
												<div class="rating-stars">
													{{{createRating 1}}}
												</div>
												<div class="rating-progress">
													<div style="width:{{getPercentRating product.reviews 1}}%"></div>
												</div>
												<span class="sum">{{getNumberRating product.reviews 1}}</span>
											</li>
										</ul>
									</div>
								</div>
								<!-- /Rating -->

								<!-- Reviews -->
								<div class="col-md-6">
									<div id="reviews">
										<ul class="reviews">
											{{#each product.reviews}}
											<li>
												<div class="review-heading">
													<h5 class="name">{{'user.lastname'}}</h5>
													<p class="date">{{formatDateTime created_at}}</p>
													<div class="review-rating">
														{{{createRating rating}}}
													</div>
												</div>
												<div class="review-body">
													<p>{{content}}</p>
												</div>
											</li>
											{{/each}}
										</ul>
										<ul class="reviews-pagination">
											<li class="active">1</li>
											<li><a href="#">2</a></li>
											<li><a href="#">3</a></li>
											<li><a href="#">4</a></li>
											<li><a href="#"><i class="fa fa-angle-right"></i></a></li>
										</ul>
									</div>
								</div>
								<!-- /Reviews -->

								<!-- Review Form -->
								<div class="col-md-3">
									<div id="review-form">
										<form class="review-form">
											<input class="input" type="text" placeholder="Tên của bạn">
											<input class="input" type="email" placeholder="Email của bạn">
											<textarea class="input" placeholder="Đánh giá của bạn"></textarea>
											<div class="input-rating">
												<span>Đánh giá của bạn: </span>
												<div class="stars">
													<input id="star5" name="rating" value="5" type="radio"><label for="star5"></label>
													<input id="star4" name="rating" value="4" type="radio"><label for="star4"></label>
													<input id="star3" name="rating" value="3" type="radio"><label for="star3"></label>
													<input id="star2" name="rating" value="2" type="radio"><label for="star2"></label>
													<input id="star1" name="rating" value="1" type="radio"><label for="star1"></label>
												</div>
											</div>
											<button class="primary-btn">Nộp</button>
										</form>
									</div>
								</div>
								<!-- /Review Form -->
							</div>
						</div>
						<!-- /tab2  -->

						<!-- tab3  -->
						<div id="tab3" class="tab-pane fade in">
							
							<div class="row">
								<!-- Reviews -->
								<div class="col-md-8">
									<div id="comment-list-block">
										{{#with product}}
										<ul class="reviews" id="comment-list">
											{{#each comments}}
											<li>
												<div class="review-heading">
													<h5 class="name">{{name}}</h5>
													<p class="date">{{created_at_string}}</p>
												</div>
												<div class="review-body">
													<p>{{content}}</p>
												</div>
											</li>
											{{/each}}
											
										</ul>
										{{/with}}
										<script type="text/x-handlebars-template" id="comment-list-template">
											\{{#each comments}}
											<li>
												<div class="review-heading">
													<h5 class="name">\{{name}}</h5>
													<p class="date">\{{created_at_string}}</p>
												</div>
												<div class="review-body">
													<p>\{{content}}</p>
												</div>
											</li>
											\{{/each}}
										</script>
										<ul class="reviews-pagination">
											<li class="active">1</li>
											<li><a href="#">2</a></li>
											<li><a href="#">3</a></li>
											<li><a href="#">4</a></li>
											<li><a href="#"><i class="fa fa-angle-right"></i></a></li>
										</ul>
									</div>
								</div>
								<!-- /Reviews -->

								<!-- Comment Form -->
								<div class="col-md-4">
									<div id="review-form">
										<form class="review-form">
											<div class="err-block">
												<span class="text-danger about" id="error-comment"></span>
											</div>
											{{#if user}}
											<input type="text" name="name" id="name-comment" value="{{user.firstname}} {{user.lastname}}" hidden>
											<input type="text" name="email" id="email-comment" value="{{user.email}}" hidden>
											{{else}}
											<input class="input" type="text" placeholder="Tên của bạn" name="name" id="name-comment">
											<input class="input" type="text" placeholder="Email của bạn" name="email" id="email-comment">
											{{/if}}
											<textarea class="input" placeholder="Bình luận của bạn" name="content" id="content-comment"></textarea>
											<button class="primary-btn" id="btn-add-comment" onclick="addComment({{product.product_id}}, event)">Nộp</button>
										</form>
									</div>
								</div>
								<!-- /Comment Form -->
							</div>
						</div>
						<!-- /tab3  -->
					</div>
					<!-- /product tab content  -->
				</div>
			</div>
			<!-- /product tab -->
		</div>
		<!-- /row -->
	</div>
	<!-- /container -->
</div>
<!-- /SECTION -->

<!-- Section -->
<div class="section">
	<!-- container -->
	<div class="container">
		<!-- row -->
		<div class="row">
			<div class="col-md-12">
				<div class="section-title text-center">
					<h3 class="title">Sản phẩm tương tự</h3>
				</div>
			</div>
						<!-- Products tab & slick -->
			<div class="col-md-12">
				<div class="row">
					<div class="products-tabs">
						<!-- tab -->
						<div id="tab2" class="tab-pane fade in active">
							<div class="products-slick" data-nav="#slick-nav-2">
								<!-- product -->

								{{#each similarProducts}}
								<div class="product">
									<div class="product-img">
										<img src="{{'images.image_link'}}" alt="">
										<div class="product-label">
											<span class="sale">-30%</span>
											<span class="new">MỚI</span>
										</div>
									</div>
									<div class="product-body">
										{{!-- <p class="product-category">Loại</p> --}}
										<h3 class="product-name"><a href="/products/{{product_id}}">{{product_name}}</a></h3>
										<h4 class="product-price">{{price}}</h4>
										<div class="product-rating">
											{{{createRating average_rating}}}
										</div>
										<div class="product-btns">
											<button class="add-to-cart" onclick="addToCart({{product_id}})"><i class="fa fa-shopping-cart"></i><span class="tooltipp">Thêm vào giỏ hàng</span></button>
											<button class="quick-view"><a href="/products/{{product_id}}"><i class="fa fa-eye"></i></a><span class="tooltipp">Xem sản phẩm</span></button>
										</div>
									</div>
									<div class="buy-now">
										<button class="buy-now-btn">Mua ngay</button>
									</div>
								</div>
								<!-- /product -->
								{{/each}}
							</div>
							<div id="slick-nav-2" class="products-slick-nav"></div>
						</div>
						<!-- /tab -->
					</div>
				</div>
			</div>
			<!-- /Products tab & slick -->
		</div>
		<!-- /row -->
	</div>
	<!-- /container -->
</div>
<!-- /Section -->
{{> newsletter}}
{{> footer }}
