<!-- SECTION -->
<div class="section">
	<!-- container -->
	<div class="container">
		<!-- row -->
		<div class="row">
			<!-- ASIDE -->
			<div id="aside" class="col-md-3">
				<!-- aside Widget -->
				<div class="aside">
					<h3 class="aside-title">Loại sản phẩm</h3>
					<div class="checkbox-filter">
						{{#each categories}}
						<div class="input-checkbox" id="categories">
							<input type="checkbox" id="{{category_id}}" value="{{category_id}}" name="categories">
							<label for="{{category_id}}">
								<span></span>
								{{category_name}}
								<small>({{length}})</small>
							</label>
						</div>
						{{/each}}
					</div>
				</div>
				<!-- /aside Widget -->

				<!-- aside Widget -->
				<div class="aside">
					<h3 class="aside-title">Giá (000 vnd)</h3>
					<div class="price-filter">
						<div id="price-slider"></div>
						<div class="input-number price-min">
							<input id="price-min" type="number">
							<span class="qty-up">+</span>
							<span class="qty-down">-</span>
						</div>
						<span>-</span>
						<div class="input-number price-max">
							<input id="price-max" type="number">
							<span class="qty-up">+</span>
							<span class="qty-down">-</span>
						</div>
					</div>
				</div>
				<!-- /aside Widget -->

				<!-- aside Widget -->
				<div class="aside">
					<h3 class="aside-title">Thương hiệu</h3>
					<div class="checkbox-filter">
						{{#each brands}}
						<div class="input-checkbox" id="brands">
							<input type="checkbox" id="{{brand_id}}" name="brands" value="{{brand_id}}">
							<label for="{{brand_id}}">
								<span></span>
								{{brand_name}}
								<small>({{length}})</small>
							</label>
						</div>
						{{/each}}
					</div>
				</div>
				<!-- /aside Widget -->

				<!-- aside Widget -->
				<div class="aside">
					<h3 class="aside-title">Bán chạy nhất</h3>

					{{#each newProducts}}
					<a href="/products/{{product_id}}">
					<div class="product-widget">
						<div class="product-img">
							<img src="{{'images.image_link'}}" alt="">
						</div>
						<div class="product-body">
							{{!-- <p class="product-category">LOẠI</p> --}}
							<h3 class="product-name"><a href="/products/{{product_id}}">{{product_name}}</a></h3>
							<h4 class="product-price">{{price}} VNĐ</h4>
						</div>
					</div>
					</a>
					{{/each}}
				</div>
			</div>
			<!-- /ASIDE -->

			<!-- STORE -->
			<div id="store" class="col-md-9">
				<!-- store top filter -->
				<div class="store-filter clearfix">
					<div class="store-sort">
						<label>
							Sắp xếp theo:
							<select class="input-select">
								<option value="name">Tên sản phẩm</option>
								<option value="price-asc">Giá sản phẩm tăng dần</option>
								<option value="price-desc">Giá sản phẩm giảm dần</option>
							</select>
						</label>

						<label>
							Hiển thị:
							<select class="input-select">
								<option value="9">9</option>
								<option value="18">18</option>
							</select>
						</label>
					</div>
					<ul class="store-grid">
						<li class="active"><i class="fa fa-th"></i></li>
						<li><a href="#"><i class="fa fa-th-list"></i></a></li>
					</ul>
				</div>
				<!-- /store top filter -->

				<!-- store products -->
				<div class="row">
					<!-- product -->
					{{#each products}}
					<a href="/products/{{product_id}}">
					<div class="col-md-4 col-xs-6">
						<div class="product">
							<div class="product-img">
								<img src="{{'images.image_link'}}" alt="">
								<div class="product-label">
									<span class="sale">-30%</span>
									<span class="new">MỚI</span>
								</div>
							</div>
							<div class="product-body">
								{{!-- <p class="product-category">Loại</p> --}}
								<h3 class="product-name"><a href="/products/{{product_id}}">{{product_name}}</a></h3>
								<h4 class="product-price">{{price}}</h4>
								<div class="product-rating">
									{{{createRating average_rating}}}
								</div>
								<div class="product-btns">
									<button class="add-to-cart" name="product_id" value="{{product_id}}"><i class="fa fa-shopping-cart"></i><span class="tooltipp">Thêm vào giỏ hàng</span></button>
									<button class="quick-view"><a href="/products/{{product_id}}"><i class="fa fa-eye"></i></a><span class="tooltipp">Xem sản phẩm</span></button>
								</div>
							</div>
							<div class="buy-now">
								<button class="buy-now-btn">Mua ngay</button>
							</div>
						</div>
					</div>
					</a>
					{{/each}}
					<!-- /product -->
				</div>
				<!-- /store products -->

				<!-- store bottom filter -->
				<div class="row justify-content-center">
					<nav aria-label="Page navigation example" id="pagination">
						{{{paginate pagination paginationClass="store-pagination"}}}
					</nav>
				</div>
				<!-- /store bottom filter -->
			</div>
			<!-- /STORE -->
		</div>
		<!-- /row -->
	</div>
	<!-- /container -->
</div>
<!-- /SECTION -->

<script>
	
	const urlParams = new URLSearchParams(window.location.search);

	let params = {
		page: 1,
		min: 100,
		max: 10000,
		limit: 9,
		categories: '',
		brands: '',
	}

	for (let key in params) {
      if (!urlParams.has(key)) {
        urlParams.append(key, params[key])
      }
    }

	$(document).ready(function() {
		const checkboxes = ['categories', 'brands'];
		for (let key of checkboxes) {
			if (urlParams.has(key)) {
				const values = urlParams.get(key);
				if (values) {
					for (let value of values.split(',')) {
						$(`input[name=${key}][value=${value}]`).prop('checked', true);
					}
				}

			}
		}

		const savePage = urlParams.get('page');
		$('#pagination li a').each((index, item) => {
			const page = $(item).attr('href').split('=')[1]
			urlParams.set('page', page)
			const href = '/products?' + urlParams.toString()
			$(item).attr('href', href)
		})
		urlParams.set('page', savePage)
	});

	$('input[name=categories]').change(function() {
		let categories = [];
		$('input[name=categories]:checked').each(function() {
			categories.push($(this).val());
		});
		urlParams.set('categories', categories.join(','));
		urlParams.set('page', 1);
		window.location.search = urlParams.toString();
	});
	
	$('input[name=brands]').change(function() {
		let brands = [];
		$('input[name=brands]:checked').each(function() {
			brands.push($(this).val());
		});
		urlParams.set('brands', brands.join(','));
		urlParams.set('page', 1);
		window.location.search = urlParams.toString();
	});

	function changePrice(key, value) {
		urlParams.set(key, value)
		urlParams.set('page', 1);
		window.location.search = urlParams.toString();
    }
</script>