<!-- HEADER -->
<header>
    <!-- TOP HEADER -->
    <div id="top-header">
        <div class="container">
            <ul class="header-links pull-left">
                <li><a href="#"><i class="fa fa-phone"></i>012-345-6789</a></li>
                <li><a href="#"><i class="fa fa-envelope-o"></i>kingofsound@gmail.com</a></li>
                <li><a href="#"><i class="fa fa-map-marker"></i>228, Nguyễn Văn Cừ, Phường 4, Quận 5, TPHCM</a></li>
            </ul>
            <ul class="header-links pull-right">
                <li><a href="#"><i class="fa fa-dollar"></i> USD</a></li>
                {{#if user}}
                <div class="dropdown">
                    <li><a href="/user/profile"><i class="far fa-user" style=" font-size: 15px;"></i>{{user.firstname}}
                            {{user.lastname}} </a></li>
                    <div class="dropdown-content">
                        <a href="/user/profile">Tài khoản</a>
                        <a href="/orders">Đơn hàng</a>
                        <a href="/logout">Đăng xuất</a>
                    </div>
                </div>
                {{else}}
                <li><a href="/login"><i class="fas fa-sign-in-alt"></i>Đăng nhập</a></li>
                {{/if}}
            </ul>
        </div>
    </div>
    <!-- /TOP HEADER -->

    <!-- MAIN HEADER -->
    <div id="header">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <!-- LOGO -->
                <div class="col-md-3">
                    <div class="header-logo">
                        <a href="#" class="logo">
                            <img src="/img/logo3.png" alt="">
                        </a>
                    </div>
                </div>
                <!-- /LOGO -->

                <!-- SEARCH BAR -->
                <div class="col-md-6">
                    <div class="header-search">
                        <form method="GET" action='/products' id="search-form">
                            <input class="input" placeholder="Nhập từ khóa" id="#search" name="search">
                            <button class="search-btn" id="search-btn">Tìm kiếm</button>
                        </form>
                    </div>
                </div>
                <!-- /SEARCH BAR -->

                <!-- ACCOUNT -->
                <div class="col-md-3 clearfix">
                    <div class="header-ctn">
                        <!-- Cart -->
                        <div class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                                <a href="/cart">
                                    <i class="fa fa-shopping-cart"></i>
                                    <span>Giỏ hàng</span>

                                    {{#with cart}}
                                    {{#if products}}
                                    <div class="qty" id="cart-product-quantity">{{products.length}}</div>
                                    {{else}}
                                    <div class="qty" id="cart-product-quantity">0</div>
                                    {{/if}}
                                    {{/with}}
                                </a>
                            </a>
                             {{#with cart}}
                            <div class="dropdown-content cart-box container">
                                <div class="container">
                                    <div class="shopping-cart">
                                        <ul class="shopping-cart-items">
                                            <li class="clearfix">
                                                <table style="margin-top:10px;">
                                                   
                                                    {{#each products}}
                                                    <tr>
                                                        <td>
                                                            <span>
                                                                <img src="{{image}}" alt="" height="40px" width="40px"
                                                                    style="border: 1px solid black;margin-bottom:10px;padding:5px">
                                                            </span>
                                                        </td>
                                                        <td>
                                                            &nbsp;&nbsp;&nbsp;&nbsp;

                                                        </td>
                                                        <td>
                                                            <span>
                                                                <span class="item-name">
                                                                    <b>{{quantity}}</b> x {{product_name}}
                                                                </span>
                                                                <br>
                                                                <span class="item-subtotal">
                                                                    {{priceString}}
                                                                </span>
                                                            </span>
                                                        </td>
                                                        <td>
                                                            &emsp;&emsp;&emsp;
                                                        </td>
                                                        <td>
                                                            <span class="item-subtotal" style="float: right;">
                                                                {{subtotalString}}
                                                            </span>
                                                        </td>
                                                    </tr>
                                                    {{/each}}
                                                </table>
                                            </li>
                                        </ul>
                                        <div class="shopping-cart-total">
                                            <span class="lighter-text"><b>Tổng tiền: </b></span>
                                            <span class="total">{{totalString}}</span>
                                        </div>
                                        <a href="/cart/checkout" class="cart-box-btn btn btn-primary">Đặt hàng</a>
                                      
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--end shopping-cart -->
                    </div>
                    <!--end container -->
                </div>

            </div>
            <!-- /Cart -->
  {{/with}}
            <!-- Menu Toogle -->
            <div class="menu-toggle">
                <a href="#" class="menu-icon-text">
                    <i class="fa fa-bars"></i>
                    <span>Menu</span>
                </a>
            </div>
            <!-- /Menu Toogle -->
        </div>
    </div>
    <!-- /ACCOUNT -->
    </div>
    <!-- row -->
    </div>
    <!-- container -->
    </div>
    <!-- /MAIN HEADER -->
</header>
<!-- /HEADER -->