<!-- HEADER -->
<header>
    <!-- TOP HEADER -->
    <div id="top-header">
        <div class="container">
            <ul class="header-links pull-left">
                <li><a href="#"><i class="fa fa-phone"></i>012-345-6789</a></li>
                <li><a href="#"><i class="fa fa-envelope-o"></i>kingofsound@gmail.com</a></li>
                <li><a href="#"><i class="fa fa-map-marker"></i>228, Nguyễn Văn Cừ, Phường 4, Quận 5, TPHCM</a></li>
            </ul>
            <ul class="header-links pull-right">
                <li><a href="#"><i class="fa fa-dollar"></i> USD</a></li>
                {{#if user}}
                <div class="dropdown">
                    <li>
                        <a href="/user/profile">
                            <i class="far fa-user" style=" font-size: 15px;"></i>
                            {{user.firstname}} {{user.lastname}}
                        </a>
                    </li>
                    <div class="dropdown-content">
                        <a href="/user/profile">Tài khoản</a>
                        <a href="/orders">Đơn hàng</a>
                        <a href="/logout">Đăng xuất</a>
                    </div>
                </div>
                {{else}}
                <li><a href="/login"><i class="fas fa-sign-in-alt"></i>Đăng nhập</a></li>
                {{/if}}
            </ul>
        </div>
    </div>
    <!-- /TOP HEADER -->

    <!-- MAIN HEADER -->
    <div id="header">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <!-- LOGO -->
                <div class="col-md-3">
                    <div class="header-logo">
                        <a href="#" class="logo">
                            <img src="/img/logo3.png" alt="">
                        </a>
                    </div>
                </div>
                <!-- /LOGO -->

                <!-- SEARCH BAR -->
                <div class="col-md-6">
                    <div class="header-search">
                        <form method="GET" action='/products' id="search-form">
                            <input class="input" placeholder="Nhập từ khóa" id="search" name="search"
                                onkeyup="suggest(this.value)" autocomplete="off">
                            <button class="search-btn" id="search-btn">Tìm kiếm</button>
                        </form>
                        <div id="search-suggest">

                        </div>
                    </div>
                </div>
                <!-- /SEARCH BAR -->

                <!-- ACCOUNT -->
                <div class="col-md-3 clearfix">
                    <div class="header-ctn">
                        <!-- Cart -->
                        {{#with cart}}
                        <div class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                                <a href="/cart">
                                    <i class="fa fa-shopping-cart"></i>
                                    <span>Giỏ hàng</span>
                                    {{#if products}}
                                    <div class="qty" id="cart-product-quantity">{{products.length}}</div>
                                    {{else}}
                                    <div class="qty" id="cart-product-quantity">0</div>
                                    {{/if}}

                                </a>
                            </a>
                            <div class="dropdown-content cart-box container">
                                <div class="container">
                                    <div class="shopping-cart" id="cart-list-dropdown">
                                        {{#if products}}
                                        <ul class="shopping-cart-items">
                                            <li class="clearfix">
                                                <table style="margin-top:10px;">
                                                    {{#each products}}
                                                    <tr>
                                                        <td>
                                                            <span>
                                                                <img src="{{image}}" alt="" height="40px" width="40px"
                                                                    style="border: 1px solid black;margin-bottom:10px;padding:5px">
                                                            </span>
                                                        </td>
                                                        <td>
                                                            &nbsp;&nbsp;&nbsp;&nbsp;

                                                        </td>
                                                        <td>
                                                            <span>
                                                                <span class="item-name">
                                                                    <b>{{quantity}}</b> x {{product_name}}
                                                                </span>
                                                                <br>
                                                                <span class="item-subtotal">
                                                                    {{priceString}}
                                                                </span>
                                                            </span>
                                                        </td>
                                                        <td>
                                                            &emsp;&emsp;&emsp;
                                                        </td>
                                                        <td>
                                                            <span class="item-subtotal" style="float: right;">
                                                                {{subtotalString}}
                                                            </span>
                                                        </td>
                                                    </tr>
                                                    {{/each}}
                                                </table>
                                            </li>
                                        </ul>

                                        <div class="shopping-cart-total">
                                            <span class="lighter-text"><b>Tổng tiền: </b></span>
                                            <span class="total" id="cart-total-dropdwon">{{totalString}}</span>
                                        </div>
                                        <a href="/cart/checkout" class="cart-box-btn btn btn-primary">Đặt hàng</a>
                                        {{else}}
                                        <div class="no-item-cart">
                                            <span class="lighter-text"><b>Giỏ hàng chưa có sản phẩm</b></span>
                                        </div>
                                        {{/if}}
                                    </div>
                                    <script type="text/x-handlebars-template" id="cart-dropdown-template">
                                        \{{#if products}}
                                        <ul class="shopping-cart-items">
                                            <li class="clearfix">
                                                <table style="margin-top:10px;">
                                                    \{{#each products}}
                                                    <tr>
                                                        <td>
                                                            <span>
                                                                <img src="\{{image}}" alt="" height="40px" width="40px"
                                                                    style="border: 1px solid black;margin-bottom:10px;padding:5px">
                                                            </span>
                                                        </td>
                                                        <td>
                                                            &nbsp;&nbsp;&nbsp;&nbsp;

                                                        </td>
                                                        <td>
                                                            <span>
                                                                <span class="item-name">
                                                                    <b>\{{quantity}}</b> x \{{product_name}}
                                                                </span>
                                                                <br>
                                                                <span class="item-subtotal">
                                                                    \{{priceString}}
                                                                </span>
                                                            </span>
                                                        </td>
                                                        <td>
                                                            &emsp;&emsp;&emsp;
                                                        </td>
                                                        <td>
                                                            <span class="item-subtotal" style="float: right;">
                                                                \{{subtotalString}}
                                                            </span>
                                                        </td>
                                                    </tr>
                                                    \{{/each}}
                                                </table>
                                            </li>
                                        </ul>
                                        
                                        <div class="shopping-cart-total">
                                            <span class="lighter-text"><b>Tổng tiền: </b></span>
                                            <span class="total">\{{totalString}}</span>
                                        </div>
                                        <a href="/cart/checkout" class="cart-box-btn btn btn-primary">Đặt hàng</a>
                                        \{{else}}
                                        <div class="no-item-cart">
                                            <span class="lighter-text"><b>Giỏ hàng chưa có sản phẩm</b></span>
                                        </div>
                                        \{{/if}}
                                    </script>
                                </div>
                            </div>
                        </div>
                        {{/with}}
                        <!-- /Cart -->
                        <!-- add to cart modal -->
                        <!-- Menu Toogle -->
                        <div class="menu-toggle">
                            <a href="#" class="menu-icon-text">
                                <i class="fa fa-bars"></i>
                                <span>Menu</span>
                            </a>
                        </div>
                        <!-- /Menu Toogle -->
                        <div class="modal-add-to-cart modal">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h3 class="modal-title" style="color:tomato;"><b>Thành công</b></h3>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p>
                                    <h5>Thêm sản phẩm vào giỏ hàng thành công!</h5>
                                    </p>
                                </div>
                                <div class="modal-footer">
                                </div>
                            </div>
                        </div>
                        <div class="modal-review modal">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Đánh giá</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                                            onclick="closemodal()">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="star">
                                            <span>
                                             <label>Số sao&ensp; &ensp;  </label>   <i class="fas fa-star" ></i>
                                            </span>
                                            <span>
                                                <input type="radio" id="1" name="star" value="1">
                                                <label for="1">1</label><br>
                                            </span>
                                            <span>
                                                <input type="radio" id="2" name="star" value="2">
                                                <label for="2">2</label><br>
                                            </span>
                                            <span>
                                                <input type="radio" id="3" name="star" value="3">
                                                <label for="3">3</label><br>
                                            </span>
                                            <span>
                                                <input type="radio" id="4" name="star" value="4">
                                                <label for="4">4</label><br>
                                            </span>
                                            <span>
                                                <input type="radio" id="5" name="star" value="5" checked>
                                                <label for="5">5</label><br>
                                            </span>
                                            <div>
                                                <br>
                                                <br>
                                                <br>
                                        <label style ="margin-top:20px;">
                                            <span class="review" style = "margin-top:2px;">Đánh giá</span>
                                        
                                            <input type="text" name="review" class="form-control" style = "width:80%;margin-left:10px;">
                                        </label>
                                        
                                    </div>
                                        </div>
                                        
                                    </div>
                  
                                    
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal"
                                            onclick="closemodal()">Hủy</button>
                                        <button type="button" class="btn btn-primary">Xác nhận</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- /ACCOUNT -->
                </div>
            </div>
            <!--end container -->
        </div>
        <!-- /MAIN HEADER -->
</header>
<!-- /HEADER -->