<!-- NAVIGATION -->
<nav id="navigation">
	<!-- container -->
	<div class="container">
		<!-- responsive-nav -->
		<div id="responsive-nav">
			<!-- NAV -->
			<ul class="main-nav nav navbar-nav">
				<li class={{homeActive}}><a href="/">Trang chủ</a></li>
				<li class={{productActive}}><a href="/products">Sản phẩm</a></li>
				<li class={{speakerActive}}><a href="/products?search=loa">Loa</a></li>
				<li class={{headphoneActive}}><a href="/products?search=tai+nghe">Tai nghe</a></li>
				<li class={{aboutActive}}><a href="/about">Về chúng tôi</a></li>

			</ul>
			<!-- /NAV -->
		</div>
		<!-- /responsive-nav -->
	</div>
	<!-- /container -->
</nav>
<!-- /NAVIGATION -->