
{{> header }}
{{> navigation }}
<div class="order">
    <div class="container">
        <h3 class = "title">Thông tin đơn hàng</h3>
		<table id="cart" class="table table-hover table-condensed">
			<thead>
				<tr>
					<th style="width:45%">Đơn hàng</th>
					<th style="width:20%">Thành tiền</th>
					<th style="width:15%">Tình trạng</th>
					<th style="width:12%">Thanh toán</th>
					<th style="width:8%"></th>
				</tr>
			</thead>
			<tbody>
				{{#if listOrder}}
				{{#each listOrder}}
					<tr>
					<td data-th="Product">
						<div class="row">
							<div class="col-sm-3 hidden-xs"><img src="/img/pagkage.jpg" alt="..." class="img-responsive"/></div>
							<div class="col-sm-7">
								<h4 class="nomargin">Hóa đơn #{{order_id}}</h4>
								<div class="row">
									<div class="col-md-5"><b>Ngày đặt:</b> </div>
									<div class="col-md-6">{{create_date}}</div>
								</div>
								<div class="row">
									<div class="col-md-5"><b>Ngày gửi: </b>{{send_date}}</div>
									<div class="col-md-6">22/12/2021</div>
								</div>
								<div class="row">
									<div class="col-md-5"><b>Ngày nhận: </b>{{receive_date}}</div>
									<div class="col-md-6">22/12/2021</div>
								</div>
							</div>
						</div>
					</td>
					<td data-th="total">{{formatPrice total_price}}</td>
					<td data-th="status">
							{{order_status}}
					</td>
					<td data-th="payment-status">{{payment_status}}</td>
					<td class="actions" data-th="">
						<a href="/orders/{{order_id}}"><button class="btn btn-info btn-sm"><i class="far fa-eye"></i></i></button></a>
						<button class="btn btn-danger btn-sm"><i class="fas fa-trash"></i></button>								
					</td>
				</tr>
				{{/each}}
				{{else}}
			<tr>
				<td colspan="5"> <h3 class = "empty-title">Bạn không có đơn hàng</h3></td>
			</tr>
			{{/if}}
			</tbody>
			<tfoot>
				
				<tr>
					<td><a href="/" class="btn btn-warning"><i class="fa fa-angle-left"></i> Quay lại mua sắm</a></td>
					<td colspan="2" class="hidden-xs"></td>
					<td colspan="2" class="hidden-xs"></td>
				</tr>
			</tfoot>
		</table>
	</div>
</div>
{{> newsletter}}
{{> footer }}