
{{> header }}
{{> navigation }}
<div class="profile">
    <form method="PUT" action="/user/editprofile">
    <div class="container">
        <div class="row gutters">
            <div class="col-md-3 col-3">
                <div class="card h-100 card-x">
                    <div class="card-body">
                        <div class="account-settings">
                            <div class="user-profile">
                                <div class="user-avatar">
                                    <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Maxwell Admin">
                                    <input type = "file">
                                </div>
                                <h5 class="user-name">{{user.firstname}} {{user.lastname}}</h5>
                                <h6 class="user-email">{{user.email}}</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-9 col-9">
                <div class="card h-100">
                        <div class="card-body edit-profile">
                            <div class="row gutters">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                    <h6 class="mb-2 text-primary">Thông tin tài khoản</h6>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                    <div class="form-group">
                                        <label for="firtname">Họ</label>
                                        <input type="text" class="form-control" name="firstname"
                                            value="{{user.firstname}}">
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                    <div class="form-group">
                                        <label for="lastname">Tên</label>
                                        <input type="text" class="form-control" name="lastname"
                                            value="{{user.lastname}}">
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                    <div class="form-group">
                                        <label for="Email">Email</label>
                                        <input type="text" class="form-control" name="email" value="{{user.email}}">
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                    <div class="form-group">
                                        <label for="phone">Điện thoại</label>
                                        <input type="text" class="form-control" name="phone" value="{{user.phone}}">
                                    </div>
                                </div>
                            </div>
                            <div class="row gutters">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                    <div class="form-group">
                                        <label for="address">Đia chỉ</label>
                                        <input type="text" class="form-control" name="address" value="{{user.address}}">
                                    </div>
                                </div>
                            </div>
                            <div class="row gutters">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                    <div class="text-right">
                                        <a href="/user/profile" class="btn btn-secondary">
                                            Quay lại
                                        </a>
                                        <button id="change-profile" class="btn btn-primary" type="submit"
                                            value="submit">Xác nhận
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
     </form>
</div>
{{> newsletter}}
{{> footer }}