<div class="checkout">
    <div class="container">
  <div class="title">
      <h2>Thông tin giao hàng</h2>
  </div>
<div class="d-flex">
  <form action="/checkout" method="GET" id = "checkout-form">
    <label>
      <span class="fname">Họ <span class="required">*</span></span>
      <input type="text" name="fname" value = "{{user.firstname}}"  required>
    </label>
    <label>
      <span class="lname">Tên <span class="required">*</span></span>
      <input type="text" name="lname" value = "{{user.lastname}}"  required>
    </label>
    <label>
      <span>Địa chỉ nhận hàng <span class="required">*</span></span>
      <input type="text" name="houseadd" value ="{{user.address}}" required value >
    </label>
    <label>
      <span>Số điện thoại <span class="required">*</span></span>
      <input type="tel" name="phone"  value = "{{user.phone}}" required> 
    </label>
    <label>
      <span>Email <span class="required">*</span></span>
      <input type="email" name="email" value = "{{user.email}}" required> 
    </label>
    <label>
      <span>Hình thức thanh toán <span class="required">*</span></span>
      <select select name="selection">
       <option value="select">Chọn</option>
        <option value="COD">Thanh toán khi nhận hàng</option>
        <option value="CK">Thanh toán chuyển khoản</option>
      </select>
    </label>
    <label>
      <span>Đơn vị vận chuyển <span class="required">*</span></span>
      <select name="selection">
        <option value="select">Chọn</option>
        <option value="GHN">Giao hàng nhanh</option>
        <option value="VTP">Viettel Post</option>
        <option value="NJL">Ninja Lead</option>
        <option value="GRE">Grab Express</option>
      </select>
    </label>
  </form>
  <div class="Yorder">
    <table>
      <tr>
        <th colspan="2">Đơn hàng của bạn</th>
      </tr>
       {{#each detailCart}}
      <tr>
        <td>{{'product.product_name'}} x {{quantity}}(Qty)</td>
        <td class="tt">{{'product.price'}}</td>
      </tr>
       {{/each}}
      <tr>
        <td>Tổng tiền</td>
        <td class="tt">20.000.000</td>
      </tr>
      <tr>
        <td>Phí ship</td>
        <td>Miễn phí</td>
      </tr>
      <tr>
        <td>Tổng cộng</td>
        <td class="tt">20.000.000</td>
      </tr>
    </table><br>
    <div>
    Hỗ trợ thanh toán 
    <ul>
        <li><i class="fab fa-cc-visa"></i></li>
        <li><i class="fab fa-cc-mastercard"></i></li>
        <li><i class="fab fa-cc-paypal"></i></li>
        <li><i class="fab fa-cc-jcb"></i></li>
    </ul>
    </div>
    <button form ="checkout-form" type ="submit" value ="submit">Đặt hàng</button>
  </div><!-- Yorder -->
 </div>
</div>
</div>